# Road Length for Grid Emissions Modeling Domain

## Import Libraries and Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = '../2_Emissions_inventory/roads/'
df3 = pd.read_csv(path+'grid3km.csv')
df15 = pd.read_csv(path+'grid15km.csv')

# The following file works with wrfchemi_cbmz.ncl
s5 = pd.read_csv('../2_Emissions_inventory/wrfchemi/s5.txt', delim_whitespace=True)

In [3]:
s5

          id       Xlon      Ylat  roadLength
0          0 -51.691510 -19.49425           0
1          1 -51.600469 -19.49425           0
2          2 -51.509428 -19.49425           0
3          3 -51.418387 -19.49425           0
4          4 -51.327346 -19.49425          12
...      ...        ...       ...         ...
14746  14746 -38.581613 -27.55580           0
14747  14747 -38.490572 -27.55580           0
14748  14748 -38.399531 -27.55580           0
14749  14749 -38.308490 -27.55580           0
14750  14750 -38.217450 -27.55580           0

[14751 rows x 4 columns]

In [4]:
df3

            id    vehroads_s      Ylat      Xlon
0            1  0.000000e+00 -19.31351 -53.51649
1            2  6.901817e+05 -19.34054 -53.51649
2            3  0.000000e+00 -19.36757 -53.51649
3            4  6.481722e+05 -19.39459 -53.51649
4            5  1.062456e+06 -19.42162 -53.51649
...        ...           ...       ...       ...
159538  159539  0.000000e+00 -27.58378 -39.67866
159539  159540  0.000000e+00 -27.61080 -39.67866
159540  159541  0.000000e+00 -27.63783 -39.67866
159541  159542  0.000000e+00 -27.66486 -39.67866
159542  159543  0.000000e+00 -27.69188 -39.67866

[159543 rows x 4 columns]

In [5]:
df15.loc[:,'id']=range(len(df15.id))
df15

        id    vehroads_s      Ylat      Xlon
0        0  4.570327e+06 -19.36757 -53.46243
1        1  2.583874e+06 -19.50270 -53.46243
2        2  3.107420e+06 -19.63784 -53.46243
3        3  3.722419e+06 -19.77297 -53.46243
4        4  2.037228e+06 -19.90811 -53.46243
...    ...           ...       ...       ...
6484  6484  0.000000e+00 -27.20541 -39.67865
6485  6485  0.000000e+00 -27.34054 -39.67865
6486  6486  0.000000e+00 -27.47568 -39.67865
6487  6487  0.000000e+00 -27.61081 -39.67865
6488  6488  0.000000e+00 -27.74595 -39.67865

[6489 rows x 4 columns]

## Calculate nx and ny for each grid resolution

For the grid domain of 3 km of spatial resolution:

In [6]:
print("nx: ", df3.Xlon.nunique()) ; print("ny: ",df3.Ylat.nunique())

nx:  513
ny:  311

For the grid domain of 15 km of spatial resolution:

In [7]:
print("nx: ", df15.Xlon.nunique()) ; print("ny: ",df15.Ylat.nunique())

nx:  103
ny:  63

In [8]:
print("nx: ", s5.Xlon.nunique()) ; print("ny: ",s5.Ylat.nunique())

nx:  149
ny:  99

## Write files as *.txt

In [9]:
df3 = df3[['id','Xlon','Ylat','vehroads_s']]
df3 = df3.round({"id":0,"Xlon":5, "Ylat":5, "vehroads_s":0})
df3 = df3.sort_values(by=['Ylat','Xlon'],ascending=[False,True])
df3.loc[:,'id']=np.arange(0.0,len(df3.id))
df3

              id      Xlon      Ylat  vehroads_s
0            0.0 -53.51649 -19.31351         0.0
311          1.0 -53.48946 -19.31351         0.0
622          2.0 -53.46243 -19.31351         0.0
933          3.0 -53.43541 -19.31351     21466.0
1244         4.0 -53.40838 -19.31351    376291.0
...          ...       ...       ...         ...
158298  159538.0 -39.78677 -27.69188         0.0
158609  159539.0 -39.75974 -27.69188         0.0
158920  159540.0 -39.73272 -27.69188         0.0
159231  159541.0 -39.70569 -27.69188         0.0
159542  159542.0 -39.67866 -27.69188         0.0

[159543 rows x 4 columns]

In [10]:
df15 = df15[['id','Xlon','Ylat','vehroads_s']]
df15 = df15.round({"id":0,"Xlon":5, "Ylat":5, "vehroads_s":0})
df15 = df15.sort_values(by=['Ylat','Xlon'],ascending=[False,True])
df15.loc[:,'id']=np.arange(0.0,len(df15.id))
df15

          id      Xlon      Ylat  vehroads_s
0        0.0 -53.46243 -19.36757   4570327.0
63       1.0 -53.32730 -19.36757   5041153.0
126      2.0 -53.19216 -19.36757   1422349.0
189      3.0 -53.05703 -19.36757   1891372.0
252      4.0 -52.92189 -19.36757         0.0
...      ...       ...       ...         ...
6236  6484.0 -40.21919 -27.74595         0.0
6299  6485.0 -40.08405 -27.74595         0.0
6362  6486.0 -39.94892 -27.74595         0.0
6425  6487.0 -39.81378 -27.74595         0.0
6488  6488.0 -39.67865 -27.74595         0.0

[6489 rows x 4 columns]

In [22]:
def vias(fname = 'grid3km.txt',file = df3):
    np.savetxt(path+fname, file, delimiter='  ',  
           fmt= ['%12.0f', '%5.5f', '%14.5f','%15.0f'])
vias()
vias(fname='grid15km.txt', file=df15)

In [23]:
!head ../2_Emissions_inventory/roads/grid15km.txt

           0  -53.46243       -19.36757          4570327
           1  -53.32730       -19.36757          5041153
           2  -53.19216       -19.36757          1422349
           3  -53.05703       -19.36757          1891372
           4  -52.92189       -19.36757                0
           5  -52.78676       -19.36757          2498067
           6  -52.65162       -19.36757          6400583
           7  -52.51649       -19.36757          5051174
           8  -52.38135       -19.36757                0
           9  -52.24622       -19.36757          2938252