# Road Length for Grid Emissions Modeling Domain

## Import Libraries and Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = '../2_Emissions_inventory/roads/'
df3 = pd.read_csv(path+'grid3km_d02.csv')
df15 = pd.read_csv(path+'grid15km.csv')

# The following file works with wrfchemi_cbmz.ncl
s5 = pd.read_csv('../2_Emissions_inventory/wrfchemi/s5.txt', delim_whitespace=True)

In [3]:
s5

          id       Xlon      Ylat  roadLength
0          0 -51.691510 -19.49425           0
1          1 -51.600469 -19.49425           0
2          2 -51.509428 -19.49425           0
3          3 -51.418387 -19.49425           0
4          4 -51.327346 -19.49425          12
...      ...        ...       ...         ...
14746  14746 -38.581613 -27.55580           0
14747  14747 -38.490572 -27.55580           0
14748  14748 -38.399531 -27.55580           0
14749  14749 -38.308490 -27.55580           0
14750  14750 -38.217450 -27.55580           0

[14751 rows x 4 columns]

In [4]:
df15

        id    vehroads_s      Ylat      Xlon
0        1  4.176001e+06 -19.36757 -53.46243
1        2  2.583874e+06 -19.50270 -53.46243
2        3  1.636485e+06 -19.63784 -53.46243
3        4  2.518815e+06 -19.77297 -53.46243
4        5  1.960429e+06 -19.90811 -53.46243
...    ...           ...       ...       ...
6484  6485  0.000000e+00 -27.20541 -39.67865
6485  6486  0.000000e+00 -27.34054 -39.67865
6486  6487  0.000000e+00 -27.47568 -39.67865
6487  6488  0.000000e+00 -27.61081 -39.67865
6488  6489  0.000000e+00 -27.74595 -39.67865

[6489 rows x 4 columns]

## Calculate nx and ny for each grid resolution

For the grid domain of 3 km of spatial resolution:

In [5]:
print("nx: ", df3.Xlon.nunique()) ; print("ny: ",df3.Ylat.nunique())

nx:  173
ny:  127

For the grid domain of 15 km of spatial resolution:

In [6]:
print("nx: ", df15.Xlon.nunique()) ; print("ny: ",df15.Ylat.nunique())

nx:  103
ny:  63

In [7]:
print("nx: ", s5.Xlon.nunique()) ; print("ny: ",s5.Ylat.nunique())

nx:  149
ny:  99

## Write files as *.txt

In [8]:
def order(df=df3):
    df.loc[:,'id']=range(len(df.id))
    df = df[['id','Xlon','Ylat','vehroads_s']]
    df = df.round({"id":0,"Xlon":5, "Ylat":5, "vehroads_s":3})
    df = df.sort_values(by=['Ylat','Xlon'],ascending=[False,True])
    df.loc[:,'id']=np.arange(0.0,len(df.id))
    return df

df3 = order(df=df3); df15 = order(df=df15)

In [9]:
def vias(fname = 'grid3km_d02.txt',file = df3):
    np.savetxt(path+fname, file, delimiter='  ',  
           fmt= ['%12.0f', '%5.5f', '%14.5f','%15.3f'])
vias()
vias(fname='grid15km_final.txt', file=df15)

In [11]:
!head ../2_Emissions_inventory/roads/grid3km_d02.txt

           0  -48.99649       -21.65351       363756.909
           1  -48.96946       -21.65351            0.000
           2  -48.94243       -21.65351            0.000
           3  -48.91541       -21.65351            0.000
           4  -48.88838       -21.65351            0.000
           5  -48.86135       -21.65351            0.000
           6  -48.83432       -21.65351       686339.417
           7  -48.80730       -21.65351            0.000
           8  -48.78027       -21.65351       497862.219
           9  -48.75324       -21.65351       845633.913